@if (isOpen) {

<!-- OVERLAY -->
<div class="fixed inset-0 z-50 overflow-y-auto bg-black/45 backdrop-blur-[2px] px-4 py-10">

    <!-- MODAL -->
    <div class="relative mx-auto w-full max-w-[750px] rounded-[32px] bg-white shadow-2xl px-9 py-8">

        <!-- CLOSE -->
        <button (click)="onClose()"
            class="absolute right-7 top-7 flex h-10 w-10 items-center justify-center rounded-xl text-slate-500 transition hover:bg-slate-100">
            <span class="text-3xl leading-none">
                ×
            </span>
        </button>

        <!-- CONTENT -->
        <ng-content></ng-content>

    </div>

</div>

}